.navbar {
  height: 90px;
  padding: 20px 25px 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 34px;
}
 .nav-links a {
  color: #bfc4c6;
} 
.nav-links a:hover {
  color: white;
}
.nav-lints .active{
  color: white;
}
/* TODO: fix */
/* .nav-links .active {
  color: #fff;
} */
.nav-links button {
  border: 0;
  color: #fff;
  background: transparent;
  display: grid;
  place-items: center;
  padding: 0;
}
.nav-links button:hover{
  color: theme("colors.gold");
}
.profile-button {
  padding: 8px 16px;
  border-radius: 7px;
  color: #fff;
  background: theme("colors.poly-green");
  font-size: 16px;
}
.profile-button:hover{
  background-color: rgba(21, 72, 52, 0.6);
}