@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind theme;

/* COLOR PALETTE */
/* colors aren't transferring to page.tsx - need to debug */

@theme {
  --color-poly-green: #154734;
  --color-mustang-gold: #bd8b13;

  --color-green: #3a913f;
  --color-light-green: #a4d65e;

  --color-gold: #f2c75c;
  --color-light-gold: #f8e08e;

  --color-teal: #5cb8b2;
  --color-light-teal: #b5e3d8;

  --color-light-blue: #abcae9;
  --color-pale-blue: #d5e4f4;

  --color-beige: #e4e3d3;
  --color-tan: #cac7a7;

  --color-sage: #b7cdc2;
  --color-dark-sage: #789f90;

  --color-dark-gray: #54585a;
  --color-gray: #8e9089;

  --font-body: "Figtree", sans-serif;
  --font-heading: "Figtree", sans-serif;
}

/* GLOBAL STYLES */

@layer base {
  /* Default: light mode */
  :root {
    color-scheme: light dark;
    --background-color: #ffffff;
    --text-color: #000000;
  }

  /* Switch to dark mode based on system settings */
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #000000;
      --text-color: #ffffff;
    }
  }

  body {
    margin: 0;
    font-family: var(--font-body);
  }

  #root {
    min-height: 100svh;
  }
}

/* SHARED COMPONENT STYLES */
@layer components {
  /* Basic Button Styles */
  .btn-primary {
    background-color: #154734;
    color: white;

    border-radius: 10px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    width: 266px;
    height: 40px;

    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    text-align: center;
    justify-content: center;

    transition: filter 150ms ease;
  }
  .btn-primary:hover {
    color: #154734;
    background-color: rgba(21, 72, 52, 0.3);
  }

  .btn-secondary {
    background-color: #bd8b13;
    color: white;

    /* edit these values as needed */
    border-radius: 10px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    width: 175px;
    height: 40px;

    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    text-align: center;

    transition: filter 150ms ease;
  }
  .btn-secondary:hover {
    color: #bd8b13;
    background-color: rgba(189, 139, 19, 0.3);
  }
}
